.dropBox {
    height: auto;
    width: 95%;
    border: 2px dashed white;
    color: white;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accept {
    border-color: green;
    color: green;
}

.reject {
    border-color: red;
    color: red;
}

.mainBox {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.mainBox:focus {
    outline: none;
}

.mainBox p {
    font-size: 1.8vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    
}

.mainBox img {
    width: auto;
    height: 200px;
    border-radius: 10%;
}

.mainBox div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}